*{
  box-sizing: border-box;
}
body{
  font-family: "Karla", sans-serif;
  margin: 0;
}
main{
  padding: 30px;
}
.nav{
  display: flex;
  align-items: center;
  height: 65px;
  padding: 20px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: #fff;
}
.logo{
  width: 30px;
  height: 100%;
  margin-right: 6px;
}
.nav-header{
  font-size: 20px;
}
.form{
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}
.form-input{
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}
.form-button{
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: #fff;
  border: none;
  cursor: pointer;
}
.meme-image{
  max-width: 100%;
}
.meme{
  position: relative;
}


